.footer {
    width: 100%;
    background-color: #28a745;
    /* Màu xanh lá từ hình ảnh */
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
    /* Loại bỏ position: fixed hoặc absolute */
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.shop-logo {
    max-width: 100%;
    height: auto;
}