.footer {
    background-color: #198754;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.social-icons img {
    width: 40px;
    height: 40px;
}
