.search-button {
    background-color: #ffffff; /* Màu đỏ */
    border: none;
    border-radius: 10px; /* Góc bo tròn */
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .search-button i {
    font-size: 16px; /* Kích thước icon */
    color: #198754; /* Màu của icon */
  }
  
  .search-button:hover {
    background-color: #b71c1c; /* Màu khi hover */
  }

  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #198754; /* Đảm bảo màu nền */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Tùy chọn: tạo bóng */
  }
  
  