/* -----------------------forgot-password right------------------------ */

.forgot-password__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--brown100);
  font-weight: 700;
  font-size: var(--font-size-title);
}

.forgot-password__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forgot-password__extend {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--brown100);
  margin-bottom: 10px;
}

.forgot__password {
  text-align: right;
  font-size: 1.4rem;
  color: var(--brown100);
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  transition: 0.25s;
}

.forgot-password:hover {
  color: var(--green100);
}