.card-comparison {
    background-color: #FFFFFF;
    border: 1px solid #198754; /* Viền màu đen */
    border-radius: 10px; /* Bo góc 10px */
    margin-top: 30px
  }

  .card-body-comparison {
    padding: 1rem;
  }
  
  .card-title-comparison {
    font-size: 25px;
    margin-bottom: 0.75rem;
    color: #198754

  }
  
  .card-text-comparison {
    margin-bottom: 1rem;
    font-size: 16px;
  }
  .product-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .product-item img {
    border-radius: 5px;
  }
  