.pro-name{
    font-size: 16px;
}
.current-price {
    font-size: 16px;
    color: red;
}
.sold{
    font-size: 14px;
    color: #666666;
}
.star{
    font-size: 14px;
    color: #666666;
}
.score{
    font-size: 14px;
    color: #666666;
}
.card-body > * {
    margin-bottom: 5px;
}

.card-body > *:last-child {
    margin-bottom: 0;
}
.card-img-top{
    height: 250px;
}
